html, body, main {
	height: 100%;
}
body,h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
#header {
	height: 75px;
	background-color: #2B3C43;
	border-bottom: 1px solid #ccc;
	width: 100%;
	position: fixed;
	top:0;
    z-index: 999;
   }
#header_contatiner {
    padding: 20px;
}
#site_title {
    color:#fff;
    text-align: center;
    font-size: 25px;
}
#header img {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
}
#footer {
    height: 62px;
    background-color: #2B3C43;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;

}
#footer_left, #footer_right, #footer_middle {
    display: inline-block;
}
#footer_left {
    width: 25%;
}
#footer_left img {
    width: 20%;
}
#footer_right {
    float: right;
    width: 25%;
}
#footer_right img {
    height: 62px;
    float: right;
}
#footer_middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 62px;
}
#footer_middle li {
    float: left;
    padding: 20px 0px 20px 25px;
}
#footer_middle li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 13px;
}
#footer_middle li:not(:last-child) a:after {
    content: '|';
    padding-left: 20px;
}
#content_heading
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
main {
    margin-top: 75px;
    background: url("../assets/images/bg.png") no-repeat fixed;
    background-size: 100% 100% ;
}
#content_business_logic ul{
	 list-style-type: none;
}
#content_business_logic li{
	padding: 5px;
}
#content_write_to_us {
    margin-bottom: 40px;
    padding: 3% 23%;
}
.join_the_team {
    color: #2C3C43;
}
.join_the_team h4 {
    margin-bottom: 15px;
}
#content_write_to_us input {
    width: 45.2%;
    height: 33px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #C1CFDD;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-left: 10px;
    color: #7C7D7E;
    opacity: 0.8;
}
#content_write_to_us textarea {
    border-radius: 5px;
    border-style: none;
    border: 1px solid #C1CFDD;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    color: #7C7D7E;
    opacity: 0.8;
}
.dropdown_select {
    background: white;
    padding: 5px 25px 5px 5px;
    border: 1px solid #C1CFDD;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../assets/images/arrow_down.png');
    background-position: right 5px center;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    color: #7C7D7E;
    height: 33px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    opacity: 0.8;
}
.join_team_select {
    width: 47%;
}
.overseas_select {
    width: 22%;
}
.submit_button {
    text-align: right;
    margin-right: 24px;
}
.submit_button button {
    padding: 11px 35px;
    color: #fff;
    background-color: #2B3C43;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
#content_official_launch {
	padding-top: 115px;
    padding-bottom: 12%;
    color: #2C3C43;
}
#official_launch_heading {
	padding: 25px;
	font-size: 30px;
}
#something_awesome {
	font-size: 20px;
padding: 25px;
}
#stay_tuned {
	font-size: 20px;
	padding: 25px;
}
#official_launch_note {
	font-size: 15px;
	padding: 20px;
	color: #FF0000;
}
#content_about_the_founder {
    padding: 10% 21% 10% 10%;
    color: #2C3C43;
}
#content_about_the_founder h2 {
    font-weight: normal;
}
#content_about_us {
    padding: 5% 21% 7% 10%;
    color: #2C3C43;
}
#content_business_logic {
    padding: 14% 21% 12% 10%;
    color: #2C3C43;
}
#content_about_us h2,#content_business_logic h2 {
    font-weight: normal;
    font-size: 32px;
}
#content {
    padding: 14% 0px 17% 0px;
}
#content_heading1 {
    font-size: 25px;
    text-align: center;
}
#content_about_the_founder {
    padding: 10% 21% 10% 10%;
    color: #2C3C43;
}
#content_about_the_founder h2 {
    font-weight: normal;
}

#content_official_launch ul {
margin: 0 auto;
  list-style:none;
  }

  #content_official_launch li {
    width:24.4333%;
    display:inline-block;
    text-align:center;
    }
   #content_official_launch  span {
      font-size: 42px;
      font-weight:bold;
    }
