body, p,h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;

}
#header
{
	height: 75px;
	background-color: #2B3C43;
	border-bottom: 1px solid #ccc;	
	width: 100%;
}
#header-contatiner
{
padding: 20px;
}
#site-title
{
color:#fff;
text-align: center;

font-size: 25px;
}

#header img{
width: 25%;
height: 100%;
  margin: 0;
  padding: 0;
float: right;
}
#content{
height:525px;
background: url("../assets/images/bg.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
 opacity: 0.3; 
 position: relative;

}
#globe-on-right
{
position: absolute;
right: 0;
bottom: 0;
 padding: 20px;
}
#footer{
	background-color: #2B3C43;
	height: 50px;
}
#footer_right
{
	height: 100%;
	  margin: 0;
  padding: 0;
}
#footer_right img{
	height: 100%;
	float:right;
}
#footer_left
{
	height: 100%;
	  margin: 0;
  padding: 0;
}
#footer_left img{
	height: 100%;
	float: left;
}