body, p,h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;

}
#header
{
	height: 75px;
	background-color: #2B3C43;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
#header-contatiner
{
padding: 20px;
}
#site-title
{
color:#fff;
text-align: center;

font-size: 25px;
}

#header img{
width: 25%;
height: 100%;
  margin: 0;
  padding: 0;
float: right;
}
#section_background{
	position: absolute;
	background: url("../assets/images/bg.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#footer {
    height: 62px;
    background-color: #2B3C43;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#footer_left, #footer_right, #footer_middle {
    display: inline-block;
}
#footer_left {
    width: 25%;
}
#footer_left img {
    width: 20%;
}
#footer_right {
    float: right;
    width: 25%;
}
#footer_right img {
    height: 62px;
    float: right;
}
#footer_middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 62px;
}
#footer_middle li {
    float: left;
}
#footer_middle li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px 25px;
    font-size: 13px;
}
#content{
height: 525px;
background: url("../assets/images/bg.png");
background-repeat: no-repeat;
background-size: 100% 100%;



}
#content-heading
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}